
<div class="panel panel-default form-edit">
    <div class="panel-heading">
        <h2>{{action}} Transaction</h2>
    </div>
    <div class="panel-body">
        <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />-->
        <form role="form">
            <div class="form-group">
                <label class="control-label" for="accountname">Account</label>
                <input class="form-control" type="text" ng-model="transaction.accountname" name="Text" placeholder="12345" />
            </div>
            <div class="form-group" ng-class="{error: form.Transaction.$invalid}">
                <label class="control-label" for="amountpaid">Pay</label>
                <input class="form-control" type="text" ng-model="transaction.amountpaid" name="Text" placeholder="10.50" />
            </div>
            <div class="form-group" ng-class="{error: form.Transaction.$invalid}">
                <label class="control-label form-control-block" for="duedate">Due Date</label>
                <input class="form-control form-control-inline form-control-95-pct" type="text" datepicker ng-model="transaction.duedate" placeholder="5/20/2014" />
            </div>
            <div class="form-group" ng-class="{error: form.Transaction.$invalid}">
                <label class="control-label" for="ispaid">Paid</label>
                <input type="checkbox" ng-model="transaction.ispaid" name="Text" placeholder=" " />
            </div>

            <button ng-click="save()" class="btn btn-default">
                {{action}}
            </button>
            <a href="#/transaction" class="btn">Cancel</a>
        </form>
    </div>    
</div>