<div class="panel-login">
    <div class="panel panel-default dialog-type">
        <div class="">
            <h2>{{action}} Company</h2>
        </div>
        <div class="panel-body">
            <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />-->
            <form role="form" name="form">
                <div class="form-group" ng-class="{error: form.Company.$invalid}">
                    <label class="control-label" for="CompanyName">Company</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="company.CompanyName" name="Text" placeholder=" " />
                    </div>
                </div>

                <!--<div class="form-group" ng-class="{error: form.DueDate.$invalid}">
                    <label class="control-label" for="DueDate">Due</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="company.DueDate" name="DueDate" placeholder=" " />
                    </div>
                </div>-->

                <div class="form-group" ng-class="{error: form.UserName.$invalid}">
                    <label class="control-label" for="UserName">User</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="company.UserName" name="Priority" placeholder=" " value="testuser" />
                    </div>
                </div>

                <div class="form-actions">
                    <button ng-click="save()" class="btn btn-primary">
                        {{action}}
                    </button>
                    <a href="#/transactions/company" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
