<div class="panel-login">
    <div class="panel panel-default dialog-type">
        <div class="">
            <h2>{{action}} Account</h2>
        </div>
        <div class="panel-body">
            <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />-->
            <form role="form" name="form">
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="AccountNumber">Account Number</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.AccountNumber" name="Text" placeholder=" " />
                    </div>
                </div>
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="AccountName">Account Name</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.AccountName" name="Text" placeholder=" " />
                    </div>
                </div>
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="CompanyName">Company Name</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.CompanyName" name="Text" placeholder=" " />
                    </div>
                </div>
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="AccountTypeCode">Account Type</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.AccountTypeCode" name="Text" placeholder=" " />
                    </div>
                </div>
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="CurrencyCode">Currency</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.CurrencyCode" name="Text" placeholder=" " />
                    </div>
                </div>
                <div class="form-group" ng-class="{error: form.Account.$invalid}">
                    <label class="control-label" for="OwnerCode">Owner</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.OwnerCode" name="Text" placeholder=" " />
                    </div>
                </div>

                <!--<div class="form-group" ng-class="{error: form.DueDate.$invalid}">
                    <label class="control-label" for="DueDate">Due</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.DueDate" name="DueDate" placeholder=" " />
                    </div>
                </div>-->
                <!--<div class="form-group" ng-class="{error: form.UserName.$invalid}">
                    <label class="control-label" for="UserName">User</label>
                    <div class="controls">
                        <input class="form-control" type="text" ng-model="account.UserName" name="Priority" placeholder=" " value="testuser" />
                    </div>
                </div>-->

                <div class="form-actions">
                    <button ng-click="save()" class="btn btn-primary">
                        {{action}}
                    </button>
                    <a href="#/transactions/account" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
