<!DOCTYPE html>
<html ng-app="FinanceApp" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance</title>

    <!-- Bootstrap -->
    <link href="css/css/bootstrap.css" rel="stylesheet" />
    <link href="css/css/bootstrap-theme.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">-->
    <link href="css/css/xeditable.css" rel="stylesheet" />
    <!--<link href="css/css/bootstrap-editable.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">-->
    <!--<link href="css/css/bootstrap-combined.min.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
    <link href="css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="css/css/angular-carousel.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="js/lib/jquery-1.10.2.js"></script>

    <!--<script src="js/lib/jquery-1.9.1.min.js"></script>-->
    <!--<script src="http://code.jquery.com/jquery-1.8.3.js"></script>-->
    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script src="js/lib/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-strap.min.js"></script>
    <script src="js/lib/angular-strap.tpl.min.js"></script>
    <script src="js/lib/xeditable.min.js"></script>
    
    <script src="js/lib/bootstrap.min.js"></script>

    <!--<script src="js/lib/bootstrap-editable.min.js"></script>-->

    <script src="js/lib/angular-touch.js"></script>
    <script src="js/lib/angular-carousel.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>-->
    <!--<script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>-->
    <script src="js/web.js"></script>
    <script src="js/appFinance.js"></script>
    <script src="js/service/directives.js"></script>
    <script src="js/service/factories.js"></script>
    <script src="js/service/userAccountService.js"></script>
    <!--<script src="js/service/searchService.js"></script>-->
    <script src="js/controller/carousel.js"></script>
    <script src="js/controller/nav.js"></script>
    <script src="js/controller/header.js"></script>
    <script src="js/controller/company.js"></script>
    <script src="js/controller/account.js"></script>
    <script src="js/controller/transaction.js"></script>


    <script src="js/controller/login.js"></script>
    <script src="js/controller/member.js"></script>
    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
</head>
<body>

    <div class="container">
        <div id="loginHeader" ng-controller="HeaderCtrl">
            <div ng-include src="'Header.html'"></div>


            <div class="navbar navbar-default" role="navigation" style="z-index: 11;" bs-navbar>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">$</a>
                </div>  
                <ul class="nav navbar-nav">
                    <!--<li data-match-route="/?(navbar)?"><a href="#/">Home</a></li>-->
                    <li data-match-route="/(:?navbar)"><a href="#/">Home</a></li>
                    <!--<li data-match-route="/transaction"><a href="#/transaction">Transactions</a></li>
                <li data-match-route="/transaction"><a href="#/account">Accounts</a></li>
                <li data-match-route="/transaction"><a href="#/company">Companies</a></li>-->
                    <li ng-show="isLogged" data-match-route="/transactions.*" class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-match-route="/transactions/transaction"><a href="#/transactions/transaction">List</a></li>
                            <li data-match-route="/transactions/account"><a href="#/transactions/account">Accounts</a></li>
                            <li data-match-route="/transactions/company"><a href="#/transactions/company">Companies</a></li>
                            <!--<li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="frame">

        <!--<div class="bkg-fade"></div>-->
        <!--<div class="jumbotron">
            <h1 style="color: #FFF" >Welcome!</h1>
            
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
            
        </div>-->
        
    </div>

    <div id="Carousel" class="carousel slide" style="position: absolute; width: 100%; height: 73%; top: 120px; left: 0px; z-index: 9;">
        <ol class="carousel-indicators">
            <li data-target="Carousel" data-slide-to="0" class="active"></li>
            <li data-target="Carousel" data-slide-to="1"></li>
            <li data-target="Carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!--<div class="item active">
                <img src="http://gallery.thesemite.com/var/albums/Nepal-2012/IMG_0848.jpg?m=1342483083" class="img-responsive">
            </div>
            <div class="item">
                <img src="http://upload.wikimedia.org/wikipedia/commons/2/2b/Savonlinna_hein%C3%A4kuu_2002_IMG_1635.JPG" class="img-responsive">
            </div>
            <div class="item">
                <img src="http://gsm2015.ru/wp-content/uploads/2013/07/IMG_2013_21.jpg" class="img-responsive">
            </div>-->
            <div class="item active">
                <img src="http://bxslider.com/images/730_200/hill_trees.jpg" class="img-responsive">
            </div>
            <div class="item">
                <img src="http://bxslider.com/images/730_200/me_trees.jpg" class="img-responsive">
            </div>
            <div class="item">
                <img src="http://bxslider.com/images/730_200/houses.jpg" class="img-responsive">
            </div>
        </div>
        <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="container-parent">
        <div class="container">


            <div ng-show="getLogStatus()" class="panel-tab-header" ng-controller="memberCtrl">
                <ul class="nav nav-tabs" bs-navbar>
                    <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab" data-match-route="{{tab.link | limitTo :1-tab.link.length}}">
                        <a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a>
                    </li>
                </ul>
            </div>

            <div ng-view=""></div>


        </div>
    </div>


</body>
</html>